<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    <title>供应商添加页</title>
    <!-- Bootstrap Core CSS -->
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet"
          th:href="@{/css/style.css}">
    <!-- You can change the theme colors from here -->
    <link href="/css/colors/blue.css" id="theme" rel="stylesheet"
          th:href="@{/css/colors/blue.css}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="fix-header fix-sidebar card-no-border">
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div th:replace="common/header :: header"></div>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <div th:replace="common/sidebar :: aside"></div>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 col-8 align-self-center">
                    <h3 class="text-themecolor m-b-0 m-t-0">供应商添加</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/main.html" th:href="@{/main.html}">首页</a></li>
                        <li class="breadcrumb-item"><a href="/supplier/supplier_table" th:href="@{/supplier/supplier_table(page=1,size=6)}">供应商管理</a></li>
                        <li class="breadcrumb-item active">供应商添加</li>
                    </ol>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <!-- Row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-block">
                            <div class="table-responsive">
                                <form class="form-horizontal form-material addform"
                                      th:action="@{/supplier/supplier_add}">
                                    <div class="form-group">
                                        <label class="col-md-12">供应商名称</label>
                                        <div class="col-md-12">
                                            <input type="text" name="supplierName"
                                                   class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-email" class="col-md-12">供应商地址</label>
                                        <div class="col-md-12">
                                            <input type="text" name="supplierAddress"
                                                   class="form-control form-control-line" id="example-email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">供应商国家</label>
                                        <div class="col-md-12">
                                            <input type="text" name="supplierCountry"
                                                   class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">供应商老板</label>
                                        <div class="col-md-12">
                                            <input type="text" name="supplierCEO"
                                                   class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <input type="submit" class="btn btn-success add_btn" value="添加供应商">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <!--        <footer class="footer">-->
        <!--            Copyright &copy; 2019.Company name All rights reserved.-->
        <!--            <a target="_blank"-->
        <!--               href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>-->
        <!--        </footer>-->
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="/plugins/jquery/jquery.min.js" th:src="@{/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/plugins/bootstrap/js/tether.min.js" th:src="@{/plugins/bootstrap/js/tether.min.js}"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js" th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/js/jquery.slimscroll.js" th:src="@{/js/jquery.slimscroll.js}"></script>
<!--Wave Effects -->
<script src="/js/waves.js" th:src="@{/js/waves.js}"></script>
<!--Menu sidebar -->
<script src="/js/sidebarmenu.js" th:src="@{/js/sidebarmenu.js}"></script>
<!--stickey kit -->
<script src="/plugins/sticky-kit-master/dist/sticky-kit.min.js"
        th:src="@{/plugins/sticky-kit-master/dist/sticky-kit.min.js}"></script>
<!--Custom JavaScript -->
<script src="/js/custom.min.js" th:src="@{/js/custom.min.js}"></script>
</body>
<script>
    $(function () {
        $(".add_btn").on("click", function () {
            var supplierName = $("input[name=supplierName]").val();
            var supplierAddress = $("input[name=supplierAddress]").val();
            var supplierCountry = $("input[name=supplierCountry]").val();
            var supplierCEO = $("input[name=supplierCEO]").val();
            if (supplierName == "") {
                alert("供应商名称不能为空");
                return;
            }
            if (supplierAddress == "") {
                alert("供应商地址不能为空");
                return;
            }
            if (supplierCountry == "") {
                alert("供应商国家不能为空");
                return;
            }
            if (supplierCEO == "") {
                alert("供应商老板不能为空");
                return;
            } else {
                $(".addform").submit()
            }
        })
    })
</script>

</html>
