<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <link rel="stylesheet" type="text/css" href="/css/login-styles.css"
          th:href="@{/css/login-styles.css}">
    <script src="/js/jquery-2.1.1.min.js" type="text/javascript"
            th:src="@{/js/jquery-2.1.1.min.js}"></script>
    <script src="/js/jquery1.8.1.js" type="text/javascript"
            th:src="@{/js/jquery1.8.1.js}"></script>
    <style>
        .form-div span {
            width: 80px;
            display: inline-block;
        }

        .form-div input {
            display: inline-block;
        }

        form select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            outline: 0;
            border: 1px solid rgba(255, 255, 255, 0.4);
            background-color: rgba(255, 255, 255, 0.2);
            width: 250px;
            border-radius: 3px;
            padding: 10px 15px;
            margin: 0 auto 10px auto;
            display: inline;
            text-align: center;
            font-size: 18px;
            color: white;
            -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
            font-weight: 300;
        }

        form select:hover {
            background-color: rgba(255, 255, 255, 0.4);
        }

        form select:focus {
            background-color: white;
            width: 300px;
            color: #53e3a6;
        }

        .form-div select {
            text-indent: 45%;
        }

        .error-span {
            position: absolute;
            right: 30px;
            top: 10px;
            font-size: 13px;
            display: none;
            color: red;
        }
    </style>
</head>
<body>
<div class="htmleaf-container">
    <div class="wrapper">
        <div class="container">
            <h1>注册账号</h1>
            <form action="" class="form" id="submit-form">
                <div class="form-div" style="position: relative">
                    <span>账&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号:</span>
                    <input type="text" placeholder="请输入您的账号" name="username">
                </div>
                <div class="form-div" style="position: relative">
                    <span>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码:</span>
                    <input type="text" placeholder="请输入您的密码" name="password">
                </div>
                <div class="form-div" style="position: relative">
                    <span>真实姓名:</span>
                    <input type="text" placeholder="请输入您的真实姓名" name="trueName">
                </div>
<!--                <div class="form-div" style="position: relative">-->
<!--                    <span>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱:</span>-->
<!--                    <input type="text" placeholder="请输入您的昵称" name="email">-->
<!--                </div>-->
                <div class="form-div" style="position: relative">
                    <span>电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话:</span>
                    <input type="text" placeholder="请输入您的昵称" name="phone">
                </div>
<!--                <div class="form-div" style="position: relative">-->
<!--                    <span>信&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;息:</span>-->
<!--                    <input type="text" placeholder="请输入您的昵称" name="message">-->
<!--                </div>-->
<!--                <div class="form-div" style="position: relative">-->
<!--                    <span>祖&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;国:</span>-->
<!--                    <input type="text" placeholder="请输入您的昵称" name="country">-->
<!--                </div>-->
                <div class="form-div" style="position: relative">
                    <span>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别:</span>
                    <select name="gender">
                        <option value="0">男</option>
                        <option value="1">女</option>
                    </select>
                </div>
                <div class="form-div" style="position: relative">
                    <span>生&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日:</span>
                    <input type="date" placeholder="请输入您的昵称" name="birthday">
                </div>
                <button type="button" class="submit" id="login-button">注册</button>
            </form>
        </div>
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<script>
    // $('#login-button').click(function (event) {
    //     event.preventDefault();
    //     $('form').fadeOut(500);
    //     $('.wrapper').addClass('form-success');
    //     $('#submit-form').submit();
    // });
    $(function () {
        var $username = $("input[name=username]");
        var $password = $("input[name=password]");
        var $trueName = $("input[name=trueName]");
        // var $email = $("input[name=email]");
        var $phone = $("input[name=phone]");
        // var $message = $("input[name=message]");
        // var $country = $("input[name=country]");
        var $birthday = $("input[name=birthday]");
        var username_status = true;
        var password_status = true;
        var trueName_status = true;
        // var email_status = true;
        var phone_status = true;
        // var message_status = true;
        // var country_status = true;
        var birthday_status = true;
        $username.blur(function () {
            if ($username.val() == "") {
                $username.after("<span class='error-span'>账号不能为空</span>")
            } else {
                $.ajax({
                    url: "/user/register_username",
                    type: "post",
                    dataType: "json",
                    data: {
                        username: $username.val()
                    }, success: function (data) {
                        $username.next("span").remove();
                        if (data.result == "1") {
                            username_status = false;
                            console.log("可注册")
                        } else {
                            $username.after("<span class='error-span'>账号已存在</span>")
                        }
                    }
                })
            }
        })
        $password.blur(function () {
            $password.next("span").remove();
            if ($password.val() == "") {
                $password.after("<span class='error-span'>密码不能为空</span>")
            } else {
                password_status = false;
            }
        })
        $trueName.blur(function () {
            $trueName.next("span").remove();
            if ($trueName.val() == "") {
                $trueName.after("<span class='error-span'>真实姓名不能为空</span>")
            } else {
                trueName_status = false;
            }
        })
        // $email.blur(function () {
        //     $email.next("span").remove();
        //     if ($email.val() == "") {
        //         $email.after("<span class='error-span'>邮箱不能为空</span>")
        //     } else {
        //         email_status = false;
        //     }
        // })
        $phone.blur(function () {
            $phone.next("span").remove();
            if ($phone.val() == "") {
                $phone.after("<span class='error-span'>电话不能为空</span>")
            } else {
                phone_status = false;
            }
        })
        // $message.blur(function () {
        //     $message.next("span").remove();
        //     if ($message.val() == "") {
        //         $message.after("<span class='error-span'>信息不能为空</span>")
        //     } else {
        //         message_status = false;
        //     }
        // })
        // $country.blur(function () {
        //     $country.next("span").remove();
        //     if ($country.val() == "") {
        //         $country.after("<span class='error-span'>祖国不能为空</span>")
        //     } else {
        //         country_status = false;
        //     }
        // })
        $birthday.blur(function () {
            $birthday.next("span").remove();
            if ($birthday.val() == "") {
                $birthday.after("<span class='error-span'>生日不能为空</span>")
            } else {
                birthday_status = false;
            }
        })
        $(".submit").on("click", function (event) {
            var gender = $("select[name=gender]");
            if (username_status) {
                alert("请输入账号");
                return;
            }
            if (password_status) {
                alert("请输入密码");
                return;
            }
            if (trueName_status) {
                alert("请输入真实姓名");
                return;
            }
            // if (email_status) {
            //     alert("请输入邮箱");
            //     return;
            // }
            if (phone_status) {
                alert("请输入电话");
                return;
            }
            // if (message_status) {
            //     alert("请输入信息");
            //     return;
            // }
            // if (country_status) {
            //     alert("请输入简介");
            //     return;
            // }
            if (birthday_status) {
                alert("请输入生日");
                return;
            } else {
                $.ajax({
                    url: "/user/register",
                    type: "post",
                    dataType: "json",
                    data: {
                        username: $username.val(),
                        password: $password.val(),
                        trueName: $trueName.val(),
                        // email: $email.val(),
                        phone: $phone.val(),
                        // message: $message.val(),
                        // country: $country.val(),
                        gender: gender.val(),
                        birthday: $birthday.val()
                    }, success: function (data) {
                        if (data.result == "0") {
                            alert("账号已注册")
                        } else {
                            alert("注册成功")
                            // event.preventDefault();
                            // $('form').fadeOut(500);
                            // $('.wrapper').addClass('form-success');
                            window.location.href = "/";
                        }
                    }, error: function (error) {
                        alert(error)
                    }
                })
            }
        })
    })
</script>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';color:#000000">
    <h1>数据管理系统</h1>
</div>
</body>
</html>
